.footer {
  background: #3CB6DC;
  height: 50px;
  flex: 0 0 auto;
  .container {
    margin: 0 auto;
    width: 1440px;
    display: flex;
    justify-content: space-between;
  }
  &__info {
    margin-left: 20px;
    margin-top: 12px;
    display: flex;
    gap: 25px;
  }
  &__tel {
    margin-right: 38px;
    margin-top: 10px;
  }
}

.infoItem {
  color: white;
  font-size: 17px;
  font-weight: 400;
  &:hover {
    cursor: pointer;
  }
}