.input {
  all: unset;
  height: 35px;
  margin-top: 5px;
  font-weight: 400;
  font-size: 16px;
  padding: 4px 16px;
  width: 100%;
  border-radius: 4px;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.53);
  border: 1px solid #3CB6DC;
  background: white;
  &:focus {
    outline: none;
    border: 1px solid rgba(129, 66, 185, 0.56);
  }
}

.inputTitle {
  font-size: 15px;
  font-weight: 300;
  position: absolute;
  background: white;
  top: -7px;
  left: 20px;
}

.inputField {
  width: 100%;
  position: relative;
}